@font-face {
  font-family: Circular;
  src: url('/CircularStd-Book.woff2');
}

html {
  font-family: Circular;
}

h3 {
  @include fluid-type(200px, 1300px, 18px, 30px);
  margin-bottom: margin(sm);
}

p {
  @include fluid-type(200px, 1300px, 14px, 18px);
  line-height: 1.5;
}