@font-face {
  font-family: Necto;
  src: url('/Necto-Mono.woff2');
}
@font-face {
  font-family: Monument;
  src: url('/MonumentExtended.woff2');
}

@font-face {
  font-family: Ogg;
  src: url('/Ogg-Roman.woff2');
}

@import url("https://p.typekit.net/p.css?s=1&k=tno0cei&ht=tk&f=41109&a=23229979&app=typekit&e=css");

@font-face {
font-family:"roc-grotesk";
src:url("https://use.typekit.net/af/08f483/00000000000000003b9b2aba/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/08f483/00000000000000003b9b2aba/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/08f483/00000000000000003b9b2aba/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

html {
  font-family: roc-grotesk;
}

h1 {
  font-family: Monument;
  @include fluid-type(200px, 1300px, 24px, 110px);
}

h2 {
  font-family: Monument;
  @include fluid-type(200px, 1300px, 20px, 100px);
}

h3 {
  font-family: Monument;
  @include fluid-type(200px, 1300px, 18px, 80px);
}

h6 {
  @include fluid-type(200px, 1300px, 12px, 20px);
  line-height: 1.5;
}

p {
  @include fluid-type(200px, 1300px, 16px, 26px);
  line-height: 1.5;
  margin-bottom: margin(sm);
}

.u-grid-row {
  @include grid-row();
  position: relative;
}

.t-italic {
  font-style: italic;
}